@font-face {
    font-family: 'sora';
    src: url(/fonts/Sora.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --text: #fff;
    --couleur: #fff;
    --fond: hsl(0, 0%, 10%);
    --surbrillance: hsl(330, 100%, 57%);
}


::selection{
    background-color: var(--surbrillance);
    color: var(--text);
}

body {
    font-family: 'sora', monospace;
    background-color: var(--fond);
    color: var(--text);
}