@font-face {
    font-family: 'sora';
    src: url(/fonts/Sora.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'sora', monospace;
    background-color: #191919;
    color: #fff;
}
