body {
    overflow: hidden;
    padding: 32px 64px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h1 {
    font-size: 64px;
}

main > section:nth-child(1) {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(15, 1fr);
    grid-auto-flow: column;
    grid-auto-rows: auto;
}
main > section:nth-child(1) > p {
    font-size: 20px;
    line-height: 28px;
    width: fit-content;
    padding: 1px 4px;
    animation: appear 0.5s ease-in-out;
}
main > section:nth-child(1) > p:nth-child(1),
main > section:nth-child(1) > p:not(:nth-child(1))::before {
    color: #fff4;
    font-style: italic;
}
main > section:nth-child(1) > p:not(:nth-child(1))::before {
    content: attr(data-at);
    padding-right: 8px;
}

main > section:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
    align-items: flex-start;
}
main > section:nth-child(2) > p {
    text-align: right;
    font-size: 36px;
}
main > section:nth-child(2) > img {
    padding: 16px;
    width: 20vw;
    height: 20vw;
    aspect-ratio: 1 / 1;
}

@keyframes appear {
    from {
        background-color: #ff2592;
    }
    to {
        background-color: transparent;
    }
}

body > div.montagne {
    z-index: 20;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100dvw;
    height: 66dvh;
    overflow: hidden;
    pointer-events: none;
}
body > div.montagne > svg {
    stroke: white;
    stroke-width: 2px;
}

body > div.montagne > div.group {
    position: absolute;
    transition: left 0.5s ease-in, bottom 0.5s ease-in;
}
body > div.montagne > div.group::before {
    z-index: -1;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 64px;
    background: linear-gradient(0deg, #fff0, #fff);
}
body > div.montagne > div.group > img {
    z-index: 50;
    position: absolute;
    bottom: 64px;
    width: 80px;
    height: 80px;

    pointer-events: all;
}
body > div.montagne > div.group.premier > img {
    border: 2px solid #ff2592;
    animation: blink 2s ease infinite;
}

@keyframes blink {
    from {
        border-color: #ff2592;
    }
    50% {
        border-color: #ff259244;
    }
    to {
        border-color: #ff2592;
    }
}

body section#qrcode {
    transition: opacity 0.5s ease;
}

#context{
    z-index: 60;
    position: absolute;

    min-width: 150px;
    display: flex;
    flex-direction: column;

    background-color: #0008;
    backdrop-filter: blur(2px);
    color: #fff;
    pointer-events: all;
}

#context > div,
#context > div .prompt{
    padding: 4px 8px;
    cursor: pointer;
    user-select: none;
    transition: background-color .3s ease-in-out;
}
#context > div:hover,
#context > div .prompt:hover{
    background-color: #fff2;
}

#context > div:has(.prompt){
    position: relative;
}
#context > div .prompt{
    position: absolute;
    left: 100%;
    width: fit-content;
    top: 0;
    
    background-color: #0008;
    backdrop-filter: blur(2px);
}