body {
    overflow: hidden;
    padding: 32px 64px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h1 {
    font-size: 64px;
}

main > section:nth-child(1) {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(15, 1fr);
    grid-auto-flow: column;
    grid-auto-rows: auto;
}
main > section:nth-child(1) > p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    width: fit-content;
    padding: 1px 4px;
    animation: appear 0.5s ease-in-out;
}
main > section:nth-child(1) > p:nth-child(1),
main > section:nth-child(1) > p:not(:nth-child(1))::before {
    color: hsl(from var(--text) h s l / 0.25);
    font-style: italic;
}
main > section:nth-child(1) > p:not(:nth-child(1))::before {
    content: attr(data-at);
    padding-right: 8px;
}

main > section:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
    align-items: flex-start;
}
main > section:nth-child(2) > p {
    text-align: right;
    font-weight: 600;
    font-size: 36px;
}
main > section:nth-child(2) > img {
    padding: 16px;
    width: 20vw;
    height: 20vw;
    aspect-ratio: 1 / 1;
}

@keyframes appear {
    from {
        background-color: var(--surbrillance);
    }
    to {
        background-color: transparent;
    }
}

body > div.montagne {
    z-index: 20;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100dvw;
    height: 66dvh;
    overflow: hidden;
    pointer-events: none;
}

body > div.montagne > svg stop[offset="0%"] {
    stop-color: hsla(from var(--couleur) h s l / 0);
}
body > div.montagne > svg stop[offset="100%"] {
    stop-color: hsl(from var(--couleur) h s l / 0.4);
}
body > div.montagne > svg {
    stroke: var(--couleur);
    stroke-width: 2px;
}

body > div.montagne > div.group {
    position: absolute;
    transition: left 0.5s ease-in, bottom 0.5s ease-in;
}
body > div.montagne > div.group::before {
    z-index: -1;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 64px;
    background: linear-gradient(0deg, hsla(from var(--couleur) h s l / 0.0), hsl(from var(--couleur) h s l));
}
body > div.montagne > div.group > img {
    z-index: 50;
    position: absolute;
    bottom: 64px;
    width: 80px;
    height: 80px;

    pointer-events: all;
}
body > div.montagne > div.group.premier > img {
    border: 2px solid var(--surbrillance);
    animation: blink 2s ease infinite;
}

@keyframes blink {
    from {
        border-color: var(--surbrillance);
    }
    50% {
        border-color: hsl(from var(--surbrillance) h s calc(l - 30.0));
    }
    to {
        border-color: var(--surbrillance);
    }
}

body section#qrcode {
    transition: opacity 0.5s ease;
}

#context {
    z-index: 60;
    position: absolute;

    min-width: 150px;
    display: flex;
    flex-direction: column;

    background-color: hsla(from var(--fond) h s calc(l - 50) / 0.8);
    backdrop-filter: blur(2px);
    color: #fff;
    pointer-events: all;
}

#context > a {
    color: var(--couleur);
    text-decoration: none;
}
#context > *,
#context > * .prompt {
    padding: 6px 12px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease-in-out;
}
#context > *:hover,
#context > * .prompt:hover {
    background-color: #fff2;
}

#context > *:has(.prompt) {
    position: relative;
}
#context > * .prompt {
    position: absolute;
    left: 100%;
    width: fit-content;
    top: 0;

    background-color: hsla(from var(--fond) h s calc(l - 10) / 0.5);
    backdrop-filter: blur(2px);
}
